body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table td {
  border: 1px solid black;
  padding: 1em;
  width: 33.33%;
}

table {
  width: 100%;
}

.input-select {
  padding: 0.75em;
  margin: 0.5em;
}

.btn {
  padding: 0.75em;
  margin: 0.5em;
}

.input {
  border: 1px solid #e3e3e3;
  padding: 0.5em 0.5em;
  margin: 1em;
  line-height: 2em;
}
